@font-face {
  font-family: 'visueltpro-bold';
  src: url('visueltpro-bold.eot');
  src: url('visueltpro-bold.eot?#iefix') format('embedded-opentype'),
       url('visueltpro-bold.svg#visueltpro-bold') format('svg'),
       url('visueltpro-bold.ttf') format('truetype'),
       url('visueltpro-bold.woff') format('woff'),
       url('visueltpro-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'visueltpro-light';
  src: url('visueltpro-light.eot');
  src: url('visueltpro-light.eot?#iefix') format('embedded-opentype'),
       url('visueltpro-light.svg#visueltpro-light') format('svg'),
       url('visueltpro-light.ttf') format('truetype'),
       url('visueltpro-light.woff') format('woff'),
       url('visueltpro-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visueltpro-regular';
  src: url('visueltpro-regular.eot');
  src: url('visueltpro-regular.eot?#iefix') format('embedded-opentype'),
       url('visueltpro-regular.svg#visueltpro-regular') format('svg'),
       url('visueltpro-regular.ttf') format('truetype'),
       url('visueltpro-regular.woff') format('woff'),
       url('visueltpro-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


