@media screen and (max-width:1550px) {
    .h-service .logo {
        margin-right: 70px;
    }

    .mainMenu li a {
        background-color: transparent;
        padding: 10px;
    }
}

/*break view*/
@media screen and (min-width:992px) {
    .content {
        margin-left: 250px;
    }

    .content.collapse-view {
        margin-left: 93px;
    }

    .headerSocial .header-left .left-menu-toggle {
        display: none;
    }

    .Services-mob-icon {
        display: none;
    }

    aside.collapse-view {
        width: 80px;
    }

    aside.collapse-view .navigation li.parent > a > span {
        display: none;
        visibility: hidden;
    }

    .headerSocial .header-right .navbar-right.top-menu, .headerSocial .header-left .breadcrumb {
        display: block
    }

    .header-right.mobile {
        display: none;
    }

    .s-logo-mob {
        display: none;
    }

    .h-service .logo {
        display: block;
    }

    .mainMenu {
        position: static;
        width: auto;
        background: none;
        transform: translateX(0) !important;
    }

    .mainMenu li:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 21px;
        background-color: rgba(255,255,255,.3);
        transform: translateY(-50%);
    }

    .mainMenu li:last-child:before {
        display: none
    }

    .mainMenu li {
        float: left;
    }

    .mainMenu li a {
        border-radius: 5px;
        margin: 2px;
    }

    .mainMenu li a i {
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 15px;
    }

    .mainMenu li, .mainMenu li.active {
    border-left: 0;
    border-bottom: 0;
    background-color: transparent !important;
    }

    .mainMenu li > a:hover, .mainMenu li.active > a {
        background-color: #FCC13F;
        color: #282F70;
    }

    .mainMenu li a.disabled:hover {
        background-color: transparent;
        color: white;
    }
}

@media screen and (min-width:768px) {
    .add-module-message i {
        display: inline-block;
    }

    .the-avatar {
        width: 150px;
        height: 150px;
    }

    .lesson-preview {
        text-align: left;
    }

    .tutor-name-book {
        font-size: 24px;
    }

    .l-p-tutor-data {
        margin-top: 0;
        margin-bottom: 0;
    }

    .l-p-price-details .session-price {
        margin-top: 5px
    }

    .l-p-avatar {
        margin-right: 0;
        margin-left: 15px;
    }

    .l-p-avatar .ribbon {
        z-index: 9;
    }

    .l-p-avatar .ribbon::before, .l-p-avatar .ribbon::after {
        display: none
    }

    .card-header .nav-link {
        padding: 25px 35px;
    }

    .username {
        font-size: 15px;
    }

    .footer {
        left: 230px;
        -webkit-transition: all 0.5s 0s;
    }

    .collapse-view .footer {
        left: 79px;
    }

    .nav-icon {
        display: none;
    }

    aside.left-menu {
        transform: translateX(0)
    }

    .session-price {
        font-size: 30px;
    }
}


/*break view*/
@media screen and (max-width:992px) {

    aside.left-menu {
        top: 133px;
    }

    aside.left-menu .left-menu-toggle {
        display: none;
    }

    header.theHeader .headerSocial {
        padding-left: 0px !important;
    }

    aside.left-menu {
        transform: translateX(0);
    }

    aside.left-menu.collapse-view {
        transform: translateX(-100%);
    }

    .h-service {
        padding: 10px 0;
    }

    .hvr-rectangle-out::before, .hvr-shutter-out-horizontal::before {
        background: #ffbe2b;
        border-radius: 0px;
    }

    .mainMenu .dropdown-content {
        display: block;
        position: relative;
        top: 0;
        left: 0;
    }

    .mainMenu .dropdown-content-inner {
        background: transparent;
        min-width: initial;
        border-radius: 0;
        padding: 5px 10px;
        margin-top: 0;
        display: block;
        white-space: nowrap;
    }
    .mainMenu li a {
        padding: 20px 10px;
    }

    .collapse-view .footer {
        left: 0;
    }

    .mob-expanded .more-items {
        padding: 20px 10px 10px 10px;
        font-size: 16px;
        font-weight: 500;
        color: #fcc13f;
        border-bottom: none;
    }
    .mob-expanded li.more-items:hover, .mob-expanded li.more-items.active {
        border-left-color: transparent;
        background-color: transparent;
    }


}

@media screen and (max-width:450px) {
    .h-service {
        padding: 3px 0;
    }

    .left-menu-toggle {
        text-align: right;
        margin: 10px 30px 10px 0;
    }

    aside.left-menu {
        top: 120px;
    }

    aside.left-menu {
        top: 105px;
    }

    aside.left-menu {
        width: 320px;
    }

    .mainMenu {
        top: 105px;
    }

    .content {
        padding-top: 100px;
    }

    .navigation {
        padding-top: 10px;
    }

    .card.rounded-15 .card-body {
        padding: 20px;
    }
}