.ql-snow .ql-editor {
    min-height: 200px;
}

.ql-toolbar.ql-snow {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FAFAFA;
    border: 1px solid #E4E6EF;
    border-radius: 15px 15px 0 0;
}

.ql-container.ql-snow {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FAFAFA;
    border: 1px solid #E4E6EF;
    border-radius: 0 0 15px 15px;
}

.ql-editor img {
    max-width: 100%;
}

.text-danger, .text-danger span {
    color: #dc3545 !important;
}

.text-success, .text-success span {
    color: #28a745 !important;
}
